<nav class="navbar">
  
  <a routerLink="/home" class="logo-area">
    <img src="logo-brutalista.png" alt="Logo VinMundi" class="navbar-logo" />
  </a>

  <div class="right-side">
    
    <div class="search-box">
      <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input
        type="search"
        placeholder="Buscar países..."
        aria-label="Buscar país"
        (input)="onSearch($event)"
        class="search-input"
      />
    </div>

    <div class="user-actions">
      <div class="xp-badge">
        <span>⭐ 0 XP</span>
        <span class="nivel-texto">| Nvl 1</span>
      </div>
      
      <button class="btn-brutal btn-exit" (click)="sair()">Sair</button>
    </div>

  </div>

</nav>