<nav class="navbar">
  <a href="/" class="logo">
    <img src="logo.png" alt="Logo VinMundi" />
  </a>

  <div class="navbar-actions">
    <a [routerLink]="['/quiz']" class="btn-quiz">
      <i class="fa-solid fa-gamepad"></i> Quiz Bandeiras
    </a>

    <a [routerLink]="['/continente']" class="btn-quiz btn-continente">
        <i class="fa-solid fa-earth-americas"></i> <span>Quiz Continentes</span>
    </a>

    <div class="search-box">
      <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
      <input
        type="search"
        placeholder="Buscar país..."
        aria-label="Buscar país"
        (input)="onSearch($event)"
      />
    </div>
  </div>
</nav>
