.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding: 1rem 2rem;
    background-color: var(--primary-color);
}

.logo img {
    height: 50px;
    width: auto;
}

.navbar-actions {
  display: flex;
  gap: 1rem;
}

.btn-quiz {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1.2rem;
  background-color: var(--secondary-color, #10b981); 
  color: var(--white, #ffffff);
  text-decoration: none;
  font-weight: 600;
  border-radius: 99px; 
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
   cursor: pointer;
}

.btn-quiz:hover {
  transform: translateY(-2px);
  background-color: white; 
  color: black ;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    width: 350px;
    max-width: 100%;

    padding: 0.8rem 1rem;

    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 12px;

    backdrop-filter: blur(8px);
}

.search-icon {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.search-box input {
    flex: 1;

    border: none;
    outline: none;
    background: transparent;

    color: var(--white);
    font-size: 0.95rem;
}

.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.55);
}

.search-box:focus-within {
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.12);
}

/* Tablet */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem;
    }

    .search-box {
        width: 280px;
    }
}

/* Mobile */
@media (max-width: 576px) {
    .navbar {
        flex-direction: row;
        flex-wrap: wrap; 
        justify-content: space-between;
    }

    .navbar-actions {
        /* Desfaz o agrupamento no celular para organizar os itens individualmente */
        display: contents; 
    }

    .logo {
        order: 1;
    }

    .btn-quiz {
        order: 2; /* Fica na linha de cima, na direita */
        padding: 0.6rem 0.8rem;
    }

    .btn-quiz span { 
        display: none;
    }

    .search-box {
        order: 3; /* Empurra para a linha de baixo */
        width: 100%;
        margin-top: 0.8rem;
    }

    .logo img {
        height: 45px;
    }
}