<div class="country-card" [routerLink]="['/country', country.codes.alpha_3]">

    <img
        [src]="country.flag.url_svg"
        [alt]="country.names.common"
        class="country-flag">

    <div class="country-content">

        <h3>{{ country.names.common }}</h3>

        <p>
            <strong>População:</strong>
            {{ country.population }}
        </p>

        <p>
            <strong>Capital:</strong>
            {{ country.capitals?.[0]?.name || 'N/A' }}
        </p>

        <p>
            <strong>Região:</strong>
            {{ country.region }}
        </p>

    </div>
</div>