<div class="country-card" [routerLink]="['/country', country.cca3]">

    <img
        [src]="country.flags.svg"
        [alt]="country.name.common"
        class="country-flag">

    <div class="country-content">

        <h3>{{ country.name.common }}</h3>

        <p>
            <strong>População:</strong>
            {{ country.population }}
        </p>

        <p>
            <strong>Capital:</strong>
            {{ country.capital[0] || 'N/A' }}
        </p>

        <p>
            <strong>Região:</strong>
            {{ country.region }}
        </p>

    </div>
</div>