<section class="continents">
    <button class="continent-card">


        <h3>América</h3>

            <div class="continent-info">
        <i class="fa-solid fa-location-dot"></i>
        <span>35 países</span>
    </div>
    </button>

    <button class="continent-card">
        <h3>Europa</h3>

    <div class="continent-info">
        <i class="fa-solid fa-location-dot"></i>
        <span>35 países</span>
    </div>
    </button>

    <button class="continent-card">


        <h3>África</h3>

           <div class="continent-info">
        <i class="fa-solid fa-location-dot"></i>
        <span>35 países</span>
    </div>
    </button>

    <button class="continent-card">
     

        <h3>Ásia</h3>
    <div class="continent-info">
        <i class="fa-solid fa-location-dot"></i>
        <span>35 países</span>
    </div>
    </button>

    <button class="continent-card">

        <h3>Oceania</h3>

           <div class="continent-info">
        <i class="fa-solid fa-location-dot"></i>
        <span>35 países</span>
    </div>
    </button>
</section>